{% load static %}

<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jausmukai</title>
  <link rel="stylesheet" href="{% static 'css/pagrindinis.css' %}">
</head>
<body>
    <div class="debesies-blokas">
        <h1>🎉 Sveiki atvykę į jausmukų pasaulį! 😊</h1>
        <p>Pasirink, ką nori išmokti ar žaisti:</p>
        <a href="{% url 'emociju_atpazinimas' %}" class="mygtukas">😄 Emocijų atpažinimas</a>
        <a href="{% url 'valgiu_derinimas' %}" class="mygtukas">🍽️ Valgių derinimo žaidimas</a>
        <a href="{% url 'svaros_zaidimas' %}" class="mygtukas">🧼 Švaros žaidimas</a>
        <a href="{% url 'dienos_rezimas' %}" class="mygtukas">🧩 Dienos režimo dėlionė</a>
        <a href="{% url 'veidukas' %}" class="mygtukas">😊 Veiduko kūrimas</a>
    </div>
</body>
</html>